version: '2'
services:
  mysql:
      image: mysql:5.7
      environment:
        MYSQL_DATABASE: example
        MYSQL_ROOT_PASSWORD: example
        MYSQL_USER: example
        MYSQL_PASSWORD: example
      ports:
        - 3306:3306
      volumes:
        - ./mysql/ddl:/docker-entrypoint-initdb.d
        - ./mysql/conf:/etc/mysql
